body{
    margin: 0;
    text-align: center;
}

canvas{
    border: solid;
}

#titulo{
    color: red;
    font-family: Gameplay;
    font-size: 73px;
    margin: 0;
    text-shadow: 6px 6px 5px #181818;
    transition: .3s;
    display: inline-block;
}

#titulo:hover{
    color: blue;
    transition: .3s;
}

#credito{
    display: inline-block;
    margin: 0 0 0 30px;
    font-family: roboto;
}

.btn{
    margin: 20px;
    display: none;
}

#left{
    transform: rotate(270deg);
}

#right{
    transform: rotate(90deg);
}

@media screen and (max-width: 700px)
{
    .btn{
        display: inline-flex;
    }
    
    #left{
        transform: rotate(180deg);
    }
    
    #right{
        transform: rotate(0deg);
    }
    
    #titulo{
        display: none;
    }
    
    #credito{
        display: none;
    }
    
    canvas{
        transform: rotate(90deg);
        width: 700px;
        height: 550px;
        margin: 0 auto;
        top: 200px;
    }
    
}